<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ac.soton.coda.viewCategory"
            name="%viewCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commandCategoryDescription"
            id="ac.soton.coda.commandCategory"
            name="%commandCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <menu
               id="ac.soton.coda.ui.simulationMenu"
               label="%simulationMenu"
               mnemonic="%simulationMenuMnemonic"
               tooltip="%simulationMenuTooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ac.soton.coda.ui.SingleMachineRootSelected">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ac.soton.coda.ui.SingleMachineRootSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     operator="and">
                  <instanceof
                        value="org.eventb.core.IMachineRoot">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="ac.soton.coda.ui.CODAExportCategory"
            name="%CODAExportCategoryName">
      </category>
   </extension>

</plugin>
